node_modules
.DS_Store
.env
.env.*
!.env.example

dist
release
release-build
*.log
logs

.vscode
.idea
.cursor

coverage
.cache
.parcel-cache
.turbo
.next
.vite

.npm
.pnpm-debug.log*
.yarn

*.tsbuildinfo

build/icon.icns
build/icon.ico
